<div class='window-rotator'>
    <header class='window-rotator__control-container'>
        <button mat-fab
                color='primary'
                class='window-rotator__previous'
                (click)='previousWindow()'>
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <div class='window-rotator__window-counter'>
            <div class='window-rotator__window-counter__current'>
                {{formatNumberToTwoDigits(currentIndex + 1)}}
            </div>
            /
            <div class='window-rotator__window-counter__total'>
                {{formatNumberToTwoDigits(numberOfWindows)}}
            </div>
        </div>
        <button mat-fab
                color='primary'
                class='window-rotator__next'
                (click)='nextWindow()'>
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </header>
    <div class='window-rotator__body'>
        <div class='window-rotator__body__wrapper'>
            <div class='window-rotator__body__slider'
                 [style.transform]='"translateX(-" + (currentIndex * 100) + "%)"'>
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>