.node-searcher {
    position: absolute;
    width: 100%;
    height: 100%;
}

.node-searcher-query-input-box-opener {
    position: absolute;
    right: 10px;
    z-index: 15;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.node-searcher-query-input-box {
    position: absolute;
    right: 0px;
    top: 0;
    width: 25vw;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: width 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    width: 0;
    z-index: 1;

    .mat-form-field-infix {
        width: 20vw;
    }

    input {
        background-color: #303030;
    }

}

.node-searcher-query-input-box__close {
    stroke: #ffa500;
    position: absolute;
    stroke-width: 5px;
    stroke-linecap: round;
    transform: translateY(-5px) scale(0.6);
    cursor: pointer;
    left: 89%;
    background-color: #303030;
    transition: transform 0.25s ease;

    &:hover {
        transform: translateY(-8px) scale(0.6);
    }

    line {
        pointer-events: none;
    }

}