<ligma-window-rotator>
    <ligma-window>
        <ligma-graph width='100%'
                     height='70%'
                     [graph]='graph'>
        </ligma-graph>
    </ligma-window>
    <ligma-window>
        <ligma-graph width='100%'
                     height='70%'
                     [graph]='graph'>
        </ligma-graph>
    </ligma-window>
    <ligma-window>
        <ligma-graph width='100%'
                     height='70%'
                     [graph]='graph'>
        </ligma-graph>
    </ligma-window>
</ligma-window-rotator>