ligma-graph {
    position: relative;
    display: block;
}

.graph__node {
    width: 35px;
    height: 35px;
    transform: translate(-17.5px, -17.5px);
}

.graph__node.subgraph--left .graph__node__circle {
    border: 4px solid #ffa500;
}

.graph__edge.subgraph--left {
    stroke: #ffa500;
    stroke-width: 3px;
}

.graph__node.subgraph--right .graph__node__circle {
    border: 4px solid #fff;
}

.graph__edge.subgraph--right {
    stroke: #fff;
    stroke-width: 3px;
}

.graph__node.subgraph--search-result {
    .graph__node__circle {
        background-color: rgb(77, 172, 253);
        border-color: #00fff5;
    }

    .graph__node__label {
        color: #fff;
    }
}

.graph__edge.subgraph--search-result {
    stroke: #4dacfd !important;
    stroke-width: 3px;
}

.graph__node__circle {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 2px solid #c5a060;
    background-color: #808080;
    pointer-events: none;
    transition: background-color 0.25s ease, border 0.25s ease, color 0.5s ease;
}

.graph__node__label {
    color: #fff;
    position: absolute;
    pointer-events: none;
}


.graph__edge {
    stroke: #a77115;
    transition: stroke 0.25s ease, stroke-width 0.25s ease;

}

.highlighter-graph {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}