<svg #canvas
     class='graph'
     [ngStyle]='{
        "width": width,
        "height": height
    }'
     [attr.viewBox]='"0 0 " + (resolvedWidth + margin.left + margin.right) + " " + (resolvedHeight + margin.top + margin.bottom)'
     (mouseover)='showNodeTooltip($event.target)'
     (mouseout)='hideNodeTooltip()'>
    <g [attr.transform]='"translate(" + margin.left + "," + margin.top + ")"'>
        <g class='graph__edge-container'></g>
        <g class='graph__node-container'></g>
    </g>
</svg>